body {
    background-image: url(back.jpeg);
    margin: 0 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #080a31;
    background-color: #bcf6f7;
    width: 450px;
    height: 820px;
    border: 5px solid #f4ed6c;
    border-radius: 6px;
    padding: 20px;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
}

.region{
    font-size: 20px;
    width: 380px;
}

.town{
    font-size: 20px;
    width: 380px;
}

.street{
    font-size: 20px;
    width: 380px;
}

.house{
    font-size: 20px;
    width: 380px;
}

.room{
    font-size: 20px;
    width: 380px;
}

.—Åoord{
    font-size: 20px;
    width: 380px;
}

h1{
    font-size: 28px;
}

#msg{
    font-size: 15px;
    color: #ff4242;
}

#msg1{
    font-size: 15px;
    color: #ff4242;
}

#msg2{
    font-size: 15px;
    color: #ff4242;
}

#msg3{
    font-size: 15px;
    color: #ff4242;
}

.put_button{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    background-color: rgb(255, 140, 0);
    height: 50px;
    width: 140px;
}

.coord_button{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    background-color: rgb(110, 79, 234);
    height: 50px;
    width: 250px;
}

.clean_button{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    background-color: rgb(237, 45, 211);
    height: 50px;
    width: 140px;
}

.button-primary{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    background-color: rgb(85, 151, 238);
    height: 50px;
    width: 250px;
}

.close_window{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    background-color: rgb(243, 116, 25);
    height: 50px;
    width: 250px;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal .modal_content {
    background-color: #f7e4b2;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #5597ee;
    border-radius: 6px;
    box-shadow: 0 0 300px 80px rgb(174, 243, 249);
    width: 80%;
    z-index: 99999;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.my_modal{
    font-size: 25px;
    color: #080a31;
}

.head_modal{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 28px;
    color: #f8056e;   
}